name : Validate CodeBase

on:
  push:
    branches:
      - 'feature/**'
      - master

jobs:
  codecov:
    name: Code Coverage 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
      - uses: actions/checkout@v2
      - name: code coverage with Pytest
      - uses: actions/setup-python@v2
        with:
        python-version: 3.8
      - name: Generate coverage report
        run : |
          pip install pytest
          pip install pytest-cov
          pytest --cov=../../tests --cov-report=xml
      - name: Upload coverage report 
        uses: codecov/codecov-action@v1 
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.xml
          flags: unittests
        